<!DOCTYPE html>
<html>
  <head>
    <script src="../src/thermostat.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/stylesheets/960_12_col.css">
    <link rel="stylesheet" href="../public/stylesheets/buttons.css">
  </head>
  <body>
    <div class="container_12 clearfix">
      <div class="grid_12" id="header">
        <h1>Thermostatic</h1>
      </div>
      <div class="grid_3">
        <button id="increase-temp">
          <i class="fas fa-plus"></i>
        </button>
      </div>
      <div class="grid_6">
        <p id="temp">PLACEHOLDER TEXT</p>
      </div>
      <div class="grid_3">
        <button id="decrease-temp">
          <i class="fas fa-minus"></i>
        </button>
      </div>
      <div class="grid_3">
        <label class="psm-switch">
          <input type="checkbox">
          <span class="slider"></span>
        </label>
      </div>
    </div>
  </body>
</html>
