<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../public/stylesheets/buttons.css">
    <link rel="stylesheet" href="../public/stylesheets/text.css">
    <link rel="stylesheet" href="../public/stylesheets/layout.css">
    <link rel="stylesheet" href="../public/stylesheets/weather.css">
  </head>
  <body>
      <div id="banner">
        <h1 id="header">Thermostatic</h1>
        <form id="city-weather">
          <input id="enter-city" type="text" name="city" placeholder="Enter City..."></input>
          <button id="get-weather" type="submit">Display Weather</button>
        </form>
      </div>
      <div id="thermostat">
        <button id="increase-temp">+</button>
        <p id="temperature"></p><p id="celsius">°C</p>
        <button id="decrease-temp">-</button>
        <label class="psm">
          <input id="psm-switch" type="checkbox">
          <span class="slider"></span>
          <p id="psm-text">Power Saving On</p>
        </label>
        <button id="reset-temp">Reset</button>
      </div>
      <div id="outdoor-weather">
        <ul id="location">
          <li id="location-name"></li>
          <li id="location-weather"></li>
          <li id="location-temp"></li>
        </ul>
      </div>
    <script src="../src/thermostat.js"></script>
    <script src="../src/jquery-3.3.1.min.js"></script>
    <script src="../src/interface.js"></script>
    <script src="../src/api.js"></script>
  </body>
</html>
