<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../public/stylesheets/buttons.css">
    <link rel="stylesheet" href="../public/stylesheets/text.css">
    <link rel="stylesheet" href="../public/stylesheets/layout.css">
  </head>
  <body>
      <div id="banner">
        <h1 id="header">Thermostatic</h1>
        <button id="reset-temp">Reset</button>
      </div>
      <div>
        <button id="increase-temp">+</button>
      </div>
      <div>
        <p id="temperature"></p>
      </div>
      <div>
        <button id="decrease-temp">-</button>
      </div>
      <div>
        <label class="psm">
          <input id="psm-switch" type="checkbox">
          <span class="slider"></span>
        </label>
      </div>
    <script src="../src/thermostat.js"></script>
    <script src="../src/jquery-3.3.1.min.js"></script>
    <script src="../src/interface.js"></script>
  </body>
</html>
