#increase-temp, #decrease-temp {
  height: 50px;
  width: 50px;
  border-radius: 35px;
  outline: 0;
  color: #f2f2f2;
  font-size: 25px;
  background-color: #336699;
  position: absolute;
  top: 260px;
}

#increase-temp {
  left: 200px;
}

#decrease-temp {
  left: 275px;
}

#reset-temp {
  border-radius: 15px;
  outline: 0;
  background-color: #808080;
  color: #f2f2f2;
  font-size: 16px;
  height: 35px;
  width: 125px;
  position: absolute;
  display: inline;
  top: 325px;
  left: 200px;
}

.psm {
  height: 30px;
  position: absolute;
  display: inline-block;
  top: 350px;
  left: 195px;
  margin-top: 20px;
}

.psm input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  width: 120px;
  height: 30px;
  padding-top: 5px;
  padding-left: 5px;
  background-color: #00b33c;
  transition: .5s;
  border-radius: 35px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 30px;
  background-color: #FFFAF0;
  transition: .5s;
  border-radius: 15px;
}

input:checked + .slider {
  background-color: #e60000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(85px);
  -ms-transform: translateX(85px);
  transform: translateX(85px);
}
/* CSS tips for the toggle button taken from w3schools.com, available at:
 * https://www.w3schools.com/howto/howto_css_switch.asp */

#get-weather {
  position: absolute;
  top:58px;
  right:70px;
  color: #404040;
}
