#increase-temp, #decrease-temp {
  height: 80px;
  width: 80px;
  border-radius: 35px;
  outline: 0;
  color: #f2f2f2;
  font-size: 50px;
  background-color: #336699;
  position: absolute;
  top: 200px;
}

#increase-temp {
  left: 250px;
}

#decrease-temp {
  right: 300px;
}

#reset-temp {
  border-radius: 15px;
  outline: 0;
  background-color: #ff8c1a;
  color: #f2f2f2;
  font-size: 16px;
  height: 35px;
  width: 100px;
  position: absolute;
  display: inline;
  top: 370px;
  left: 645px;
}

.psm {
  height: 30px;
  position: absolute;
  display: inline-block;
  top: 350px;
  left: 455px;
  margin-top: 20px;
}

.psm input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  width: 115px;
  height: 30px;
  padding-top: 5px;
  padding-left: 5px;
  background-color: #00b33c;
  transition: .5s;
  border-radius: 35px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 30px;
  background-color: #FFFAF0;
  transition: .5s;
  border-radius: 15px;
}

input:checked + .slider {
  background-color: #e60000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(75px);
  -ms-transform: translateX(75px);
  transform: translateX(75px);
}
/* CSS tips for the toggle button taken from w3schools.com, available at:
 * https://www.w3schools.com/howto/howto_css_switch.asp */
