#banner {
  width: 100%;
  background-color: #85a3e0;
  margin: 0;
}
body {
  margin: 0;
}

.low-usage {
  background-color: #d9f2e6;
}

.medium-usage {
  background-color: #f0f5f5;
}

.high-usage {
  background-color: #ffe6e6;
}
