#header {
  color: #f2f2f2;
  background-color: #85a3e0;
  font-size: 70px;
  font-family: helvetica, arial, sans-serif;
  display: inline;
  padding-left: 20px;
}

#temperature, #celsius {
  position: absolute;
}

#temperature {
  font-size: 170px;
  left: 110px;
  top: -100px;
}

#celsius {
  font-size: 150px;
  left: 280px;
  top: -70px;
}

#psm-text {
  font-size: 11px;
  font-family: "courier new", courier, monospace;
  margin-top: 20px;
  padding-left: 15px;
}
