#header {
  color: #f2f2f2;
  background-color: #85a3e0;
  font-size: 50px;
  display: inline;
  padding-left: 20px;
}

#temperature {
  font-size: 200px;
  position: absolute;
  top: -100px;
  left: 500px;
}
