#header {
  color: #f2f2f2;
  background-color: #808080;
  font-size: 70px;
  font-family: impact, arial, sans-serif;
  display: inline;
  padding-left: 20px;
}

#temperature, #celsius {
  position: absolute;
}

#temperature {
  font-size: 170px;
  left: 110px;
  top: -100px;
}

#celsius {
  font-size: 150px;
  left: 280px;
  top: -70px;
}

#psm-text {
  font-size: 11px;
  font-family: "courier new", courier, monospace;
  margin-top: 20px;
  padding-left: 15px;
  width: 110px;
}

li {
  font-family: impact, arial, sans-serif;
  font-size: 100px;
  color: #0059b3;
  text-align: left;
  overflow-wrap: break-word;
}
